select {
  margin: 5px;
  width: 200px !important;
}

select.custom {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
  padding-right: 25px;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.custom::-ms-expand {
  display: none;
}

.tree-tabl {
  margin-bottom: 0px;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
  color: #fff;
}

ul li~li:before {
	content: "\2666";
}

ul li:before {
	content: "\2193";
	display: none;
}


/*Top navigation*/
.navbar {
  background-color: #434743;
  border-radius: 0;
  position: relative;
  height: 65px;
}

.nav li {
  list-style-type: none;
  float: right;
}

.navbar-header {
  position: absolute;
}

.navbar-brand {
  border: 1px solid green;
  position: relative;
  top: 10px;
  left: 10px;
}

.navbar-header img {
  position: absolute;
  float: left;
}

.navbar-header a {
  position: absolute;
  font-weight: bold;
  top: 25px;
  left: 70px;
  font-size: 20px;
  width: 200px;
}

.navbar-nav {
  position: absolute;
  right: 200px;
}

/*Main page*/

/*Steps navigation*/

.steps {
  background-image: url("../Icons/background_steps.png");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
  top: -20px;
  height: 100px;
  text-align: center;
}

.steps_nav li {
  padding-top: 30px;
  display: inline-block;
  font-size: 20px;
  text-shadow: rgba(255, 255, 255,0.8) 1px 1px 3px;
  vertical-align: middle;
  line-height: 25px;
  text-align: left;
}

.steps_nav li:last-child {
  width: 315px;
}

li .active, .active span, .active a {
  color: #929f00;
}

.steps_nav a {
  color: grey;
}

.steps_nav a:hover {
  text-decoration: none;
  color: #929f00;
}

.steps_nav img {
  padding-top: 30px;
  margin: 0 20px;
}

.number {
  float: left;
  font-size: 60px;
  font-weight: bolder;
  /*color: rgba(114, 156, 32, 0.84);*/
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: rgba(255, 255, 255,0.5) 1px 1px 3px;
  vertical-align: text-top;
  padding: 12px 10px;
}

.sqare {
  position: absolute;
  width: 200px;
  height: 10px;
  bottom: 0;
  left: 500px;
  background-color: #929f00;
}

.triangle {
  position: absolute;
  bottom: -30px;
  left: 500px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 100px 0 100px;
  border-color: #929f00 transparent transparent transparent;
  z-index: 999;
}

/*Tool*/
.tool {
  background-image: url("../Icons/slider_background.png");
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  background-position: bottom;
  margin: 0;
  padding: 0;
  position: relative;
  /*top: -20px;*/
  min-height: 600px;
}


.tool_content {
}

/* SQUERE SLIDER STYLE */

#squere_sl .slider-handle {
	background: #929f00;
}
#squere_sl .slider-selection {
	background: #929f00;
}
#squere_sl .slider-handle {
	border-bottom-color: #929f00;
}

.slider .tooltip.top {
  margin-top: -36px;
}
.slider .tooltip-inner {
  white-space: nowrap;
  max-width: none;
}

/*content*/

.content_block {
  background-image: url("../Icons/background_content.png");
  background-origin: border-box;
  background-size: contain;
  -webkit-mix-blend-mode: luminosity;
  -webkit-filter: contrast(1.25);
  filter: contrast(1.25);
}

.content {
  background-color: rgba(255,255,255, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
  color: #fff;
}

.content img {
  width: 100%;
  margin: 0 -10px;
}

.content li {
  display: inline;
  padding: 0 15px;
}

.content ul {
  margin-bottom: 10px;
}

.content_bott {
  border-top: 1px solid #fff;
  padding-top: 15px;
}

/*Footer*/
footer {
  background-color: #434743;
  height: 50px;
  position: relative;
  bottom: 0px;
  width: 100%;
}

.foot {
  text-align: center;
  padding-top: 15px;
}

.foot li {
  display: inline;
  color: #fff;
  border-right: 1px solid #fff;
  padding: 0 10px;
}

.foot li:last-child {
  border-right: none;
}