<!DOCTYPE html>

<html ng-app="layoutPage">

  <head>
    
    <meta charset="UTF-8">
    
    <script src="app_libs/bower_components/angular/angular.min.js"></script>
    <script src="app_libs/bower_components/angular-route/angular-route.min.js"></script>
    
    <link href="app_libs/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="app_libs/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="app_libs/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <link href="app_libs/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" rel="stylesheet">
    <script src="app_libs/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>
    
    <script src="app_libs/bower_components/angular-bootstrap-slider/slider.js"></script>
    <link href="stylesheet/style.css" rel="stylesheet">
  </head>
  
  <body>
    <header>
      <nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <img src="../Icons/logo.png"></img><a href="#">Meine-website.de</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#"><img src="../Icons/ok_icon_menu.png"></img>bester Verkaufserlös durch Vergleich</a></li>
            <li><a href="#"><img src="../Icons/ok_icon_menu.png"></img>kostenlos & unverbindlich</a></li>
            <li><a href="#"><img src="../Icons/ok_icon_menu.png"></img>100% Geprüfte Makler</a></li> 
          </ul>
        </div>
      </nav>
    </header>
    
    <main ng-controller="PageCtrl as pageVm">
      <div class="container-fluid steps">
        <div class="container">
          <ul class="steps_nav">
            <li ng-click="pageVm.activeTittle(1)" ng-class="{'active': pageVm.pages[1]}"><a href="#/list"><span class="number">1</span>Sie beschreiben <br /> Ihre Immobilie</a></li>
            <div class="sqare"></div>
            <div class="triangle"></div>
            <img src="../Icons/arrow.png"></img>
            <li ng-click="pageVm.activeTittle(2)" ng-class="{'active': pageVm.pages[2]}">
              <a href="#/second"><span class="number">2</span> Wir finden passende <br/> Makler für Sie</a></li>
            <img src="../Icons/arrow.png"></img>
            <li ng-click="pageVm.activeTittle(3)" ng-class="{'active': pageVm.pages[3]}"><a href="#/third"><span class="number">3</span> Sie vergleichen kostenlos <br /> Verkaufsangebote der Makler</a></li>
          </ul>
        </div>
      </div>
      
      
      <div class="container-fluid tool">
        <div class="container tool_content">
          
          <h3> Hello </h3>
          
          <h5 class="col-xs-12 text-center">  </h5>
           <!--content -->
          <div ng-view></div>
          
        </div>
          
      </div>
      
      <div class="container-fluid content_block">
        <div class="row">
          <div class="col-sm-4">
            <div class="content">
              <p>Bekannt aus den Medien</p>
              <div class="content_bott">
                 <img src="../Icons/bottom_icon2.png" title="Brands"></img>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="content">
              <ul class="row">
                <li>Kundenbewertung</li>
                <li>&#8709 „Sehr Gut“ 4.6/5.0 </li>
                <li></li>
              </ul>
              <div class="content_bott">
                 <img src="../Icons/bottom_icon2.png" title="Brands"></img>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="content">
              <p>Tagesstatistik</p>
              <div class="content_bott">
                 <img src="../Icons/bottom_icon2.png" title="Brands"></img>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </main>
    
    <footer>
      <div class="foot">
        <ul>
          <li>Impressum</li>
          <li>AGB</li>
          <li>&copy 2014 <a href="#" title="Meine-website.de">meine-website.de</a></li>
        </ul>
      </div>
    </footer>
    
    <script src="main_app.js"></script> 
		 <!--init services -->
		<script src="services/constant_service.js"></script>
		 <!--init directive -->
		 <!--init controllers -->
		<script src="controllers/page_ctrl.js"></script>
		<script src="controllers/list_ctrl.js"></script>
		<script src="controllers/sec_ctrl.js"></script>
		<script src="controllers/third_ctrl.js"></script>
		
  </body>
  
</html>